In [86]:
import pandas as pd # importing software library pandas and renaming it to pd 
amdf = pd.read_html('https://www.lenntech.com/periodic/mass/atomic-mass.htm') # amdf is for atomic mass data frame, 'read_html' is  
amdf = amdf[0] 
amdf = amdf.drop([0, 2, 4], axis=1)
amdf = amdf.rename(columns=amdf.iloc[0])
amdf = amdf.drop(0)
amdf['Symbol'] = amdf['Symbol'].str.upper()
trdf = amdf.transpose() 
string = trdf.to_csv()
#string = string.replace(",","','")
string

',1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118\r\nAtomic Mass,1.0079,4.0026,6.941,9.0122,10.811,12.0107,14.0067,15.9994,18.9984,20.1797,22.9897,24.305,26.9815,28.0855,30.9738,32.065,35.453,39.0983,39.948,40.078,44.9559,47.867,50.9415,51.9961,54.938,55.845,58.6934,58.9332,63.546,65.39,69.723,72.64,74.9216,78.96,79.904,83.8,85.4678,87.62,88.9059,91.224,92.9064,95.94,98,101.07,102.9055,106.42,107.8682,112.411,114.818,118.71,121.76,126.9045,127.6,131.293,132.9055,137.327,138.9055,140.116,140.9077,144.24,145,150.36,151.964,157.25,158.9253,162.5,164.9303,167.259,168.9342,173.04,174.967,178.49,180.9479,183.84,186.207,190.23,192.217,195.078,196.9665,200.59,204.3833,207.2,208.9804,209,210,222,223,226,227,231.0359,232.0381,237,238.0289,243,244,247,247,251,252,257,258,259,261,262,262,264,266,268,272,277,,,,,,,,\r\nSymbol,H,HE,LI,BE,B,C,N,O,F,NE,NA,MG,AL,SI,P,S,CL,K,AR,CA,SC,TI,V,CR,MN,FE,NI,CO,CU,ZN,GA,GE,AS,SE,BR,KR,RB,SR,Y,ZR,NB,MO,TC,RU,RH,PD,AG,CD,IN,SN,SB,I,TE,XE,CS,BA,LA,CE,PR,ND,PM,SM,EU,GD,TB,DY,HO,ER,TM,YB,LU,HF,TA,W,RE,OS,IR,PT,AU,HG,TL,PB,BI,PO,AT,RN,FR,RA,AC,PA,TH,NP,U,AM,PU,CM,BK,CF,ES,FM,MD,NO,RF,LR,DB,BH,SG,MT,RG,HS,DS,CN,NH,FL,MC,LV,TS,OG\r\n'

In [64]:
trdf.to_csv(r'C:\Users\rikdh\Documents\Lab Work\Computational\Project_Center_of_Mass\Atomic mass.csv')

In [110]:
atomic_mass = pd.DataFrame({'Symbol': ['H','HE','LI','BE','B','C','N','O','F','NE','NA','MG','AL','SI','P','S','CL','K','AR','CA','SC','TI','V','CR','MN','FE','NI','CO','CU','ZN','GA','GE','AS','SE','BR','KR','RB','SR','Y','ZR','NB','MO','TC','RU','RH','PD','AG','CD','IN','SN','SB','I','TE','XE','CS','BA','LA','CE','PR','ND','PM','SM','EU','GD','TB','DY','HO','ER','TM','YB','LU','HF','TA','W','RE','OS','IR','PT','AU','HG','TL','PB','BI','PO','AT','RN','FR','RA','AC','PA','TH','NP','U','AM','PU','CM','BK','CF','ES','FM','MD','NO','RF','LR','DB','BH','SG','MT','RG','HS','DS','CN','NH','FL','MC','LV','TS','OG'],
'Atomic Mass': [1.0079,4.0026,6.941,9.0122,10.811,12.0107,14.0067,15.9994,18.9984,20.1797,22.9897,24.305,26.9815,28.0855,30.9738,32.065,35.453,39.0983,39.948,40.078,44.9559,47.867,50.9415,51.9961,54.938,55.845,58.6934,58.9332,63.546,65.39,69.723,72.64,74.9216,78.96,79.904,83.8,85.4678,87.62,88.9059,91.224,92.9064,95.94,98,101.07,102.9055,106.42,107.8682,112.411,114.818,118.71,121.76,126.9045,127.6,131.293,132.9055,137.327,138.9055,140.116,140.9077,144.24,145,150.36,151.964,157.25,158.9253,162.5,164.9303,167.259,168.9342,173.04,174.967,178.49,180.9479,183.84,186.207,190.23,192.217,195.078,196.9665,200.59,204.3833,207.2,208.9804,209,210,222,223,226,227,231.0359,232.0381,237,238.0289,243,244,247,247,251,252,257,258,259,261,262,262,264,266,268,272,277,nan,nan,nan,nan,nan,nan,nan,nan,]})  
atomic_mass

    Symbol  Atomic Mass
0        H       1.0079
1       HE       4.0026
2       LI       6.9410
3       BE       9.0122
4        B      10.8110
5        C      12.0107
6        N      14.0067
7        O      15.9994
8        F      18.9984
9       NE      20.1797
10      NA      22.9897
11      MG      24.3050
12      AL      26.9815
13      SI      28.0855
14       P      30.9738
15       S      32.0650
16      CL      35.4530
17       K      39.0983
18      AR      39.9480
19      CA      40.0780
20      SC      44.9559
21      TI      47.8670
22       V      50.9415
23      CR      51.9961
24      MN      54.9380
25      FE      55.8450
26      NI      58.6934
27      CO      58.9332
28      CU      63.5460
29      ZN      65.3900
..     ...          ...
88      AC     227.0000
89      PA     231.0359
90      TH     232.0381
91      NP     237.0000
92       U     238.0289
93      AM     243.0000
94      PU     244.0000
95      CM     247.0000
96      BK     247.0000
97      CF     251.0000
98      ES     252.0000
99      FM     257.0000
100     MD     258.0000
101     NO     259.0000
102     RF     261.0000
103     LR     262.0000
104     DB     262.0000
105     BH     264.0000
106     SG     266.0000
107     MT     268.0000
108     RG     272.0000
109     HS     277.0000
110     DS          NaN
111     CN          NaN
112     NH          NaN
113     FL          NaN
114     MC          NaN
115     LV          NaN
116     TS          NaN
117     OG          NaN

[118 rows x 2 columns]