In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A':[1,2,3],
                   'B':[4,5,6],
                   'C':[7,8,9],
                   'D':[1,3,5],
                   'E':[5,3,6],
                   'F':['HE','FE','H']})

#df

In [7]:
df1 = pd.DataFrame({'alpha':['H','He','Cl','Na'],
                   'value':[1.008,4.02,35.453,22.98]})
#df1

In [13]:
#df1.alpha

In [8]:
df1.index.size  
df1['alpha'] = df1['alpha'].str.upper()
#df1

In [10]:
def func(var1, var2):
    for x in range(var1.index.size):
        F = var1.at[x,'F']
        for y in range(var2.index.size):
            alpha = var2.at[y,'alpha']
            #print(F)
            #print(alpha)
            print(alpha == F)
func(df, df1)

False
True
False
False
False
False
False
False
True
False
False
False

In [82]:
df['Y'] = np.nan 
#creating an empty column

for x in range(df.index.size):
    F = df.at[x,'F']
    for y in range(df1.index.size):
        alpha = df1.at[y,'alpha']
        if F == alpha:
            df.at[x,'Y'] = df1.at[y,'value'] 
            #comparing if the value in first dataframe matches to that of the second dataframe 
            #and then replacing corrsponding values from the second dataframe
df

   A  B  C  D  E   F      Y
0  1  4  7  1  5  HE  4.020
1  2  5  8  3  3  FE    NaN
2  3  6  9  5  6   H  1.008